<div>
  <mat-sidenav-container >
    <mat-sidenav position="start" [opened]="true" [disableClose]="true" mode="side">
      <div class="menuHeader">
        <h3>Main Menu</h3>
      </div>
      <mat-list role="list">
        <mat-list-item role="listitem"><a routerLink="/home">Home</a></mat-list-item>

          <mat-list role="list">
            <mat-list-item><b>Gliese Catalog</b></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/gliese/search">Catalog Search</a> </mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/gliese/distanceCalculator">Distance Search</a></mat-list-item>
          </mat-list>

      </mat-list>
    </mat-sidenav>
    <section class="appContent">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-container>
</div>