.example-container {
    width: auto;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
    /* The background property is added to clearly distinguish the borders between drawer and main
       content */
    background: #eee;
  }

.appContent {

   margin: 10px;
}

li {
   list-style-type: none;
}

mat-sidenav-container {
   margin-top: 25px;
   height: 100vh;
   width: 100vw;
}

mat-sidenav {
   width: 250px;
   margin: 10 10 10 10;
 }

.menuHeader {
   text-align: center;
}